Buoi4/Bai3/quanan.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    elementFormDefault="qualified"
    xmlns="http://www.example.com/quanan"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="http://www.example.com/quanan"
>

    <!-- Kiểu dùng chung -->
    <xs:simpleType name="maType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="10" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="tenType">
        <xs:restriction base="xs:string">
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="usernameType">
        <xs:restriction base="xs:string">
            <xs:minLength value="6" />
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="passwordType">
        <xs:restriction base="xs:string">
            <xs:minLength value="10" />
            <xs:maxLength value="50" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="sdtType">
        <xs:restriction base="xs:string">
            <xs:pattern value="0[0-9]{9}" />
        </xs:restriction>
    </xs:simpleType>

    <!-- Phần tử gốc -->
    <xs:element name="QUANAN">
        <xs:complexType>
            <xs:sequence>

                <!-- DS_BAN -->
                <xs:element name="DS_BAN">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="BAN" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="TENBAN" type="maType" />
                                        <xs:element name="SOBAN" type="xs:integer" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- DS_NHANVIEN -->
                <xs:element name="DS_NHANVIEN">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="NHANVIEN" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MANV" type="maType" />
                                        <xs:element name="TENNV" type="tenType" />
                                        <xs:element name="SDT" type="sdtType" />
                                        <xs:element name="DIACHI" type="xs:string" />
                                        <xs:element name="GIOITINH" type="xs:string" />
                                        <xs:element name="USERNAME" type="usernameType" />
                                        <xs:element name="PASSWORD" type="passwordType" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- DS_MON -->
                <xs:element name="DS_MON">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="MON" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="MAMON" type="maType" />
                                        <xs:element name="TENMON" type="tenType" />
                                        <xs:element name="GIA" type="xs:float" />
                                        <xs:element name="HINHANH" type="xs:string" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

                <!-- DS_HOADON -->
                <xs:element name="DS_HOADON">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="HOADON" maxOccurs="unbounded">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="SOHD" type="xs:integer" />
                                        <xs:element name="NGAYLAP" type="xs:date" />
                                        <xs:element name="TONGTIEN" type="xs:float" />
                                        <xs:element name="TENBAN" type="maType" />
                                        <xs:element name="MANV" type="maType" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>

            </xs:sequence>
        </xs:complexType>

        <!-- Khóa chính -->
        <xs:key name="BanKey">
            <xs:selector xpath="BANS/BAN" />
            <xs:field xpath="TENBAN" />
        </xs:key>

        <xs:key name="NhanVienKey">
            <xs:selector xpath="NHANVIENS/NHANVIEN" />
            <xs:field xpath="MANV" />
        </xs:key>

        <xs:key name="MonKey">
            <xs:selector xpath="MONS/MON" />
            <xs:field xpath="MAMON" />
        </xs:key>

        <xs:key name="HoaDonKey">
            <xs:selector xpath="HOADONS/HOADON" />
            <xs:field xpath="SOHD" />
        </xs:key>

        <!-- Khóa ngoại -->
        <xs:keyref name="HD_Ban_Ref" refer="BanKey">
            <xs:selector xpath="HOADONS/HOADON" />
            <xs:field xpath="TENBAN" />
        </xs:keyref>

        <xs:keyref name="HD_NV_Ref" refer="NhanVienKey">
            <xs:selector xpath="HOADONS/HOADON" />
            <xs:field xpath="MANV" />
        </xs:keyref>

    </xs:element>

</xs:schema>