Buoi3/Bai2/Bai2.3/donhang.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="company">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="order" minOccurs="1" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="products">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="product" minOccurs="1"
                                            maxOccurs="unbounded">
                                            <xs:complexType>
                                                <xs:sequence>
                                                    <xs:element name="name" type="xs:string"></xs:element>
                                                    <xs:element name="quantity" type="xs:int"></xs:element>
                                                </xs:sequence>
                                                <xs:attribute name="id" type="xs:ID" use="required" />
                                            </xs:complexType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                                <xs:unique name="product_id_duy_nhat_trong_don_hang">
                                    <xs:selector xpath="product" />
                                    <xs:field xpath="@id" />
                                </xs:unique>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="required" />
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>